<div class="login-container">
  <h2 class="login-title">Login</h2>

  <%= form_tag '/login', method: :post, id: 'login-form', class: 'login-form' do %>
    <div class="login-form-group">
      <%= label_tag :number, 'Número da Conta', class: 'login-label' %>
      <%= text_field_tag :number, nil, class: 'login-input' %>
    </div>

    <div class="login-form-group">
      <%= label_tag :password, 'Senha', class: 'login-label' %>
      <%= password_field_tag :password, nil, class: 'login-input' %>
    </div>

    <%= submit_tag 'Entrar', class: 'login-button' %>
  <% end %>
  
  <%= link_to '/signup', class: "signup-link" do %>
    não possuo conta!
  <% end %>
</div>

<script>
document.getElementById('login-form').addEventListener('submit', async (e) => {
  e.preventDefault();
  
  try {
    const response = await fetch('/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        number: document.getElementById('number').value,
        password: document.getElementById('password').value,
      })
    });
  
    const data = await response.json();
    if (response.ok) {
      localStorage.setItem('token', data.token);
      window.location.href = '/menu'; // Redireciona após login
    } else {
      alert(data.message);
      console.log(data.message);
    }
    
  } catch (error) {
    alert('Erro ao acessar conta', error.message);
  }
});
</script>