# app/views/pages/login.html.erb
<div class="container mt-5">
  <h2>Login</h2>

  <%= form_tag '/login', method: :post, id: 'login-form' do %>
    <div class="form-group">
      <%= label_tag :number, 'Número da Conta' %>
      <%= text_field_tag :number, nil, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :password, 'Senha' %>
      <%= password_field_tag :password, nil, class: 'form-control' %>
    </div>

    <%= submit_tag 'Entrar', class: 'btn btn-primary' %>
  <% end %>
  <%= link_to '/signup', class: "block w-full py-3 px-4 bg-green-600 text-white rounded hover:bg-green-700 text-center" do %>
            não possuo conta!
          <% end %>
</div>

<script>
document.getElementById('login-form').addEventListener('submit', async (e) => {
  e.preventDefault();
  
  const response = await fetch('/login', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      number: document.getElementById('number').value,
      password: document.getElementById('password').value,
    })
  });

  const data = await response.json();
  if (response.ok) {
    localStorage.setItem('token', data.token);
    window.location.href = '/menu'; // Redireciona após login
  } else {
    alert(data.error);
  }
});
</script>